/BinPacker/build/
/BinPacker/dist/
/GPSGraph/nbproject/private/
/GPSGraph/build/
/GPSGraph/dist/
/HW3Stouffer/nbproject/private/
/HW3Stouffer/build/
/SpellChecker/nbproject/private/
/SpellChecker/build/
/SpellChecker/dist/